$debug: false;

$font-primary: 'Work Sans', sans-serif;

$palette-1: #010204;
$palette-2: #191248;
$palette-3: #41337A;
$palette-4: #725AC1;
$palette-5: #B8B8D1;

$light-1: #FFFFFF;
$light-2: #EEEEEE;
$light-3: #DDDDDD;

$dark-1: #000000;
$dark-2: #222222;
$dark-3: #333333;

$status-ok: #69D27A;
$status-degraded: #FCD04C;
$status-down: #FC4F4C;

$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
