section.cta
  .container.has-text-centered
    h1.title.is-2 Get the Nebulas Wallet
    .level
      .level-item
        a.hero-cta(href="https://chrome.google.com/webstore/detail/nebulas-wallet/magbanejlegnbcppjljfhnmfmghialkl?utm_source=landing" target="_blank")
          img.cta-btn(src="img/chrome_badge.svg")
      .level-item
        a.hero-cta(href="https://github.com/fpanettieri/nebulas-wallet" target="_blank")
          .cta-btn.github
            span.is-size-1
              .fab.fa-github
            span.source Check the Source Code
