section.features
  .features-bg.is-overlay
  .container
    .columns
      .column
        .box.is-radiusless.is-unselectable
          span.icon
            .fas.fa-seedling
          h1.title.is-4 Seed Funds
          p The first 1M users will receive 1000 Gwei for free.
          hr
          p Funds are distributed on request to new wallets on the next minted block.

      .column
        .box.is-radiusless.is-unselectable
          .icon
            .fas.fa-exchange-alt
          h1.title.is-4 Simple transfers
          p Send and receive $NAS directly from your browser.
          hr
          p Check your balance and past transactions without leaving the current page.
      .column
        .box.is-radiusless.is-unselectable
          .icon
            .fab.fa-connectdevelop
          h1.title.is-4 Distributed Apps
          p NebPay allows you deploy and call dApps methods.
          hr
          p Switch between the mainnet, testnet and local nodes with a few clicks.
      .column
        .box.is-radiusless.is-unselectable
          .icon
            .fas.fa-lock
          h1.title.is-4 Fast and Secure
          p An encrypted wallet is generated automatically.
          hr
          p Private keys are hosted locally and never sent to external networks.
