section.hero.is-fullheight
  .hero-body
    .container.has-text-centered
      img.hero-logo(src="img/logo.svg" alt="Nebulas Wallet Logo")
      h1.title.is-1 Nebulas Wallet  
      h2.subtitle The easiest way to start using Nebulas
  .hero-foot
    .container.has-text-centered
      a.hero-cta(href="https://chrome.google.com/webstore/detail/nebulas-wallet/magbanejlegnbcppjljfhnmfmghialkl?utm_source=landing" target="_blank")
        img.cta-btn(src="img/chrome_badge.svg")
