.account.view.short-view.unselectable.hidden
  .head 
    .brand-name Nebulas Wallet
    .settings-btn.btn.btn-aux Settings
    
  .body
    .account-balance
      .account-balance-nas ...
      .account-balance-usd loading
  
  .foot
    .send-btn.btn.btn-cta.btn-primary Send
    .receive-btn.btn.btn-cta.btn-primary Receive
    //- .buy-btn.btn.btn-sm.btn-cta.btn-primary Buy
