.create.view.short-view.unselectable.hidden
  .head
    h1 Secure yor funds
  .body
    p This password cannot be recovered. To avoid losing funds, please write it down!
    input.password(type="password" placeholder="Password")
    input.pass-check(type="password" placeholder="Confirm Password")
  .foot
    .cancel-btn.btn.btn-cta.btn-secondary Cancel
    .confirm-btn.btn.btn-cta.btn-primary Confirm
