.onboard.view.short-view.justified.unselectable.hidden
  .head
    .brand
      .brand-name.lg Nebulas Wallet
      .brand-tagline The easiest way to start using Nebulas
  .body
    .create-btn.btn.btn-cta.btn-primary Get Started
  .foot
    .theme-btn.btn.btn-aux Toggle Dark Mode
