.send.view.short-view.unselectable.hidden
  .head
    h1 Send
  
  .body
    input.to(type="text" placeholder="To")
    input.amount(type="number" placeholder="Amount" step=".00000001")
  
  .foot
    .cancel-btn.btn.btn-cta.btn-secondary Cancel
    .confirm-btn.btn.btn-cta.btn-primary Confirm
