.settings.view.short-view.unselectable.hidden
  .head
    h1 Settings
  
  .body
    .columns
      .column
        .seed-btn.btn.btn-sm.btn-cta.btn-primary Seed Funds
        .export-btn.btn.btn-sm.btn-cta.btn-secondary Export Wallet
      .column
        .network-btn.btn-sm.btn-cta.btn-secondary Network: ?
        .theme-btn.btn.btn-sm.btn-cta.btn-secondary Dark Mode
    
  .foot
    .cancel-btn.btn.btn-cta.btn-secondary Back
