.txs.view.long-view.unselectable.hidden
  .head
    h1 Transactions
  
  .body.txs-list
    .tx.template
      .tx-main
        .tx-name
        .tx-amount
      .tx-details
        .tx-date
        .tx-status

  .foot
    .cancel-btn.btn.btn-cta.btn-secondary Back
