.unlock.view.short-view.unselectable.justified.hidden
  .head
    .brand
      .brand-name.lg Nebulas Wallet
      .brand-tagline The easiest way to start using Nebulas
  .body
    input.password(type="password" placeholder="Password")
  .foot
    .unlock-btn.btn.btn-cta.btn-primary Unlock
